h1 {
    border: 50px rgba(200, 19, 19, 0.16) solid;
    color: #8efd01;
    text-align: center;
    padding: 10px;
    background-color: #0005fe;

}
div{
    width: 50%;
    border-radius: 50px;
    background-color: rgba(40, 27, 27, 0.31);
    padding: 5px;
    }
